#PyCharm
*.iml
*.iws
*.ipr
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/datasources.xml
.idea*
venv/


#Cache
__pycache__/
*.pyc
*.pyo

